@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F8F9FA; /* nominix-smoke */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
